.git
.github
.gitignore
.gitattributes

.eslintignore
.eslintrc.cjs

.prettierrc
.prettierignore

.vscode

.env
.env.local
.env.*.local

build
node_modules
storage
tmp
docs

*.md

.vscode
.idea
.claude