# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
DRIVE_DISK=fs
LIMITER_STORE=database

# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# Midtrans
MIDTRANS_MERCHANT_ID=
MIDTRANS_SERVER_KEY=

# Fonnte
FONNTE_API_KEY=
